<a href="https://colab.research.google.com/github/Rishi-Kora/Set_Dictionary_Methods/blob/main/Set_Dictionary_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set

In [1]:
exampleset = {"Juice", "Milk", "Egg", "Bread"}
exampleset.add("Mutton") #adds a new element to the set

In [2]:
exampleset

{'Bread', 'Egg', 'Juice', 'Milk', 'Mutton'}

In [3]:
exampleset.clear() #removes all the elements from the set

In [4]:
exampleset

set()

In [5]:
set1={"Ford","Fiat","Mercedes Benz","Kia"}
set1.copy() #returns a copy of the set

{'Fiat', 'Ford', 'Kia', 'Mercedes Benz'}

In [6]:
set2={"Kia","banana","grapes","raisins"}

In [7]:
set2.difference(set1) #returns a set containing the difference between two or more sets

{'banana', 'grapes', 'raisins'}

In [8]:
set1.difference(set2) #returns a set containing the difference between two or more sets

{'Fiat', 'Ford', 'Mercedes Benz'}

In [9]:
set1.difference_update(set2) #removes the items in this set that are also included in another, specified set
set1

{'Fiat', 'Ford', 'Mercedes Benz'}

In [10]:
set1.discard("Fiat") #remove the specified item

In [11]:
set1

{'Ford', 'Mercedes Benz'}

In [12]:
set2= {"apple", "banana", "cherry"}
set3= {"google", "microsoft", "apple"}
set2.intersection(set3) #returns a set, that is the intersection of two or more sets

{'apple'}

In [13]:
set2.intersection_update(set3) #removes the items in this set that are not present in other, specified sets
set2

{'apple'}

In [14]:
set3 = {"apple", "banana", "cherry"}
set4= {"google", "microsoft", "facebook"}
set3.isdisjoint(set4) #returns whether two sets have a intersection or not

True

In [18]:
set5= {"a", "b", "c"}
set6 = {"f", "e", "d", "c", "b", "a"}

In [19]:
set5.issubset(set6) #returns whether another set contains this set or not

True

In [20]:
set6.issubset(set5) #returns whether another set contains this set or not

False

In [21]:
fruits = {"apple", "banana", "cherry"}
fruits.pop() #removes a random item from the set

'banana'

In [22]:
set1={"Ford","Fiat","Mercedes Benz","Kia"}
set1.remove("Kia") #removes the specified element from the set

In [23]:
set1

{'Fiat', 'Ford', 'Mercedes Benz'}

In [29]:
set7={"Rishi","Prem","Kavitha"}
set8={"Rochita","Rishi","Nishi"}
set7.symmetric_difference(set8) #returns a set with the symmetric differences of two sets

{'Kavitha', 'Nishi', 'Prem', 'Rochita'}

In [30]:
set7.symmetric_difference_update(set8) #updates the original set by removing items that are present in both sets, and inserting the other items

In [31]:
set7

{'Kavitha', 'Nishi', 'Prem', 'Rochita'}

In [32]:
set8= {"apple", "banana", "cherry"}
set9 = {"google", "microsoft", "apple"}
set8.union(set9) #returns a set that contains all items from the original set, and all items from the specified sets

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [33]:
set10 = {"apple", "banana", "cherry"}
set11 = {"google", "microsoft", "apple"}
set10.update(set11) #update the set with another set, or any other iterable

In [34]:
set10

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [35]:
set11

{'apple', 'google', 'microsoft'}

# Dictionaries

In [36]:
name={"Rishi":22,"Prem":52,"Rochita":24}
name

{'Rishi': 22, 'Prem': 52, 'Rochita': 24}

In [37]:
name.clear() #removes all the elements from a dictionary
name

{}

In [38]:
cars={"BMW":"X1","Lamborghini":"Urus","Audi":"A8"}
cars.copy() #returns a copy of the specified dictionary

{'BMW': 'X1', 'Lamborghini': 'Urus', 'Audi': 'A8'}

In [39]:
dict1={"Honda","Suzuki","Aprilla"}
dict2=0
dict.fromkeys(dict1,dict2) #returns a dictionary with the specified keys and the specified value

{'Aprilla': 0, 'Suzuki': 0, 'Honda': 0}

In [40]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.get("model") #returns the value of the item with the specified key

'Mustang'

In [41]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2023
}
car.items() #returns a view object. The view object contains the key-value pairs of the dictionary, as tuples in a list

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2023)])

In [42]:
bike = {
  "brand": "Suzuki",
  "model": "Hayabusa",
  "year": 2023
}
bike.keys() #returns a view object. The view object contains the keys of the dictionary, as a list

dict_keys(['brand', 'model', 'year'])

In [43]:
bike = {
  "brand": "Suzuki",
  "model": "Hayabusa",
  "year": 2023
}
bike.pop("model") #removes the specified item from the dictionary

'Hayabusa'

In [44]:
bike = {
  "brand": "Suzuki",
  "model": "Hayabusa",
  "year": 2023
}
bike.setdefault("engine type") #returns the value of the item with the specified key

In [46]:
bike.setdefault("color","grey") #returns the value of the item with the specified key.

'grey'

In [47]:
bike

{'brand': 'Suzuki',
 'model': 'Hayabusa',
 'year': 2023,
 'engine type': None,
 'color': 'grey'}

In [48]:
bike.update({"engine type":"petrol"})#inserts the specified items to the dictionary

In [49]:
bike

{'brand': 'Suzuki',
 'model': 'Hayabusa',
 'year': 2023,
 'engine type': 'petrol',
 'color': 'grey'}

In [50]:
bike.values() #returns a view object. The view object contains the values of the dictionary, as a list

dict_values(['Suzuki', 'Hayabusa', 2023, 'petrol', 'grey'])